{% extends "base.html" %}
{% block title %}
  Об авторе проекта
{% endblock %}
{% block content %}
<h1>
  Привет, я автор.
</h1>
<p>
  Я студентка Яндекс Практикума факультета Backend разработки на Python.
  Возможно это не лучший сайт в интернете, но зато, я его сделала сама)
  Он мне запомнится тем, что это первый сайт на django, который я сделала сама.
  На момент создания страницы мне 24 года и я родом из города Старый Оскол, но живу уже давно в Москве :)
  Люблю танцы, и активный образ жизни :)
</p>
{% endblock %}