{% extends 'base.html' %}
{% block title %}
  Новый пароль
{% endblock %}
{% block content %}
{% load user_filters %}
{% if validlink %}
  <div class="container py-5"> 
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            Введите новый пароль
          </div>
          <div class="card-body">
            <form method="post" action="{% url 'users:password_reset_confirm' %}">
              {% csrf_token %}
              <input type="hidden" name="csrfmiddlewaretoken" value="">
              {% include 'users/includes/form_group_class.html' %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% else %}  
    <div class="row justify-content-center">
      <div class="col-md-8 p-5">
        <div class="card">
          <div class="card-header">
            Ошибка
          </div>
          <div class="card-body">
            <p>Ссылка сброса пароля содержит ошибку или устарела.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}  
{% endblock %} 